<%= form_with(model: interest_place, data: {controller: 'interest-places'}) do |form| %>
  <% if interest_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest_place.errors.count, "error") %> prohibited this interest_place from being saved:</h2>

      <ul>
        <% interest_place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id %>
  <div class="field">
    <%= form.label :zip_id %>
    <%= form.collection_select :zip_id, Zip.all, :id, :name, {include_blank: true}, data: {action: "change->interest-places#changeSettlements", 'interest-places-target': 'zip_id'} %>
  </div>

  <div class="field">
    <%= form.label :settlement_id %>
    <%= form.collection_select :settlement_id, [], :nil, :nil, {include_blank: true}, data: {'interest-places-target': 'settlement_id', value: "#{interest_place.settlement_id}"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
