<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h1 class="title"><%= t('.interest_places') %></h1>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><%= t('.postal_code') %></th>
          <th><%= t('.settlement') %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @interest_places.each do |interest_place| %>
          <tr>
            <td><%= interest_place.postal&.name %></td>
            <td><%= interest_place.settlement&.name %></td>
            <td>
              <%= link_to edit_interest_place_path(interest_place) do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                  <span><%= t('.edit') %></span>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to interest_place, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="icon-text has-text-danger">
                  <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                  </span>
                  <span><%= t('.destroy') %></span>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Interest Place', new_interest_place_path, class: "button" %>

  </div>
</div>
