<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h1 class="title"><%= InterestPlace.model_name.human(count: 2) %></h1>
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <%= link_to "#{t 'new'} #{InterestPlace.model_name.human}", new_interest_place_path, class: "button is-primary is-outlined" %>
      </div>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><%=InterestPlace.human_attribute_name("postal")%></th>
          <th><%=InterestPlace.human_attribute_name("settlement")%></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @interest_places.each do |interest_place| %>
          <tr>
            <td><%= interest_place.postal&.name %></td>
            <td><%= interest_place.settlement&.name %></td>
            <td>
              <%= link_to edit_interest_place_path(interest_place) do %>
                <span class="icon-text">
                  <span class="icon">
                    <%= fa_icon "edit" %>
                  </span>
                  <span><%= t('edit') %></span>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to interest_place, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="icon-text has-text-danger">
                  <span class="icon">
                    <%= fa_icon "trash" %>
                  </span>
                  <span><%= t('destroy') %></span>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
