<h1 class="title"><%= t('.title', resource: resource.model_name.human) %></h1>
<hr>

<div class="columns">
  <figure id="preview" class="image column is-6 is-offset-3">
    <%= image_tag(current_user.avatar.attached? ? current_user.avatar : (asset_path '/user_icon.png'), class: 'is-rounded') %>
  </figure>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, 'data-controller': 'users' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class="file is-boxed is-centered">
      <label class="file-label">
        <%= f.file_field :avatar, class: 'file-input', data: {action:'change->users#changePreviewAvatar'} %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            avatar…
          </span>
        </span>
      </label>
    </div>
  </div>

  <div class="field">
    <%= f.label :username, class:"label" %>
    <div class="control">
      <%= f.text_field  :username,
                        required: true,
                        autofocus: true,
                        class: "input",
                        placeholder: "Nombre de usuario",
                        style: "text-transform:lowercase",
                        onkeyup: "javascript:this.value=this.value.toLowerCase();",
                        autocomplete: "username" %>
      
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email,
                        required: true,
                        autocomplete: "email",
                        class: "input",
                        placeholder: "Email",
                        style: "text-transform:lowercase",
                        onkeyup: "javascript:this.value=this.value.toLowerCase();" %>
      
        
      </span>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control">
      <%= f.password_field  :password,
                            autocomplete: "new-password",
                            class: "input" %>
      
        <i class="fas fa-lock"></i>
      </span>
      <p class="help">
        <%= t('.leave_blank_if_you_don_t_want_to_change_it') %>
        <% if @minimum_password_length %>
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
      <div class="control">
      <%= f.password_field  :password_confirmation,
                            autocomplete: "new-password",
                            class: "input" %>
      
        <i class="fas fa-lock"></i>
      </span>
      <p class="help">
        <% if @minimum_password_length %>
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        <% end %>
      </p>
    </div>
  </div>

  <hr>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit t('.update'), class:"button is-link" %>
    </div>
    <div class="control">
      <%= link_to t('.cancel'), @user_path, class:"button is-light" %>
    </div>
  </div>
<% end %>

<!--
<h3><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

<%= link_to t('devise.shared.links.back'), :back %>
-->
