<div class="columns is-vcentered">
  <div class="column is-6">
    <figure class="image is-4by3">
      <%= image_tag "undraw_secure_login_pdn4.svg", alt:"" %>
    </figure>
  </div>

  <div class="column is-5 is-offset-1">
    <h1 class="title">
      <%= t('.sign_up') %>
    </h1>
    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username, class: "label" %>
        <div class="control">
          <%= f.text_field  :username,
                            required: true,
                            autocomplete: "username",
                            autofocus: true,
                            class: "input",
                            placeholder: "Nombre de usuario",
                            style: "text-transform:lowercase",
                            onkeyup: "javascript:this.value=this.value.toLowerCase();" %>
          <p class="help"><%= t('.notice') %></p>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <%= f.email_field :email,
                            required: true,
                            autocomplete: "email",
                            class: "input",
                            placeholder: "example@email.com",
                            pattern: "^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$",
                            style: "text-transform:lowercase",
                            onkeyup: "javascript:this.value=this.value.toLowerCase();" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <div class="control">
          <%= f.password_field  :password,
                                required: true,
                                minlength: "6",
                                autocomplete: "new-password",
                                class: "input",
                                placeholder: "Contraseña" %>
          <% if @minimum_password_length %>
            <p class="help">
              <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <div class="control">
          <%= f.password_field  :password_confirmation,
                                required: true,
                                minlength: "6",
                                autocomplete: "new-password",
                                class: "input",
                                placeholder: "Confirmar contraseña" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit t('.sign_up'), class: "button is-link is-fullwidth" %>
        </div>
      </div>
    <% end %>

    <hr>
    <div class="">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
