<%= form_for @adminpanel do |form| %>
  <% if @adminpanel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adminpanel.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @adminpanel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, class: "label" %>
    <div class="control has-icons-left">
      <%= form.text_field  :username,
                        required: true,
                        autocomplete: "username",
                        autofocus: true,
                        class: "input",
                        placeholder: "Nombre de usuario",
                        style: "text-transform:lowercase",
                        onkeyup: "javascript:this.value=this.value.toLowerCase();" %>
      <span class="icon is-small is-left">
        <%= fa_icon "user" %>
      </span>
      <p class="help">Escribelo sin espacios, ni mayusculas</p>
    </div>
  </div>


  <div class="field">
    <%= form.label :user_type, class: "label" %>
    <div class="control has-icons-left">
      <%= form.text_field  :user_type,
                        required: true,
                        class: "input" %>
      <span class="icon is-small is-left">
        <%= fa_icon "user" %>
      </span>
    </div>
  </div>

  <div class="control">
      <%= form.submit class:"button is-link" %>
    </div>
<% end %>
