<% if comment.id %>
  <article class="media" id="comment_<%= comment.id unless comment.id.blank? %>">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>
            <% if comment.anonymous %>
            Anonimo - <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago
            <% else %>
            <%= comment.user == nil ? 'nn' : comment.user.username.capitalize %> - <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago
            <% end %>
          </strong>
          <br>
          <%= comment.content %>
          <br>
          <small>
            <% if current_user.id == comment.user.id %>
              <%= link_to 'Eliminar', complaint_comment_path(@complaint, comment), method: :delete, remote: true , class: "has-text-danger" %>
            <% end %>
          </small>
        </p>
      </div>
    </div>
  </article>
<% end %>