<%= form_with model: [ @complaint, @complaint.comments.build ], local: false do |form| %>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= form.text_area  :content,
                              class: "textarea",
                              required: true,
                              rows: "3",
                              minlength: "5",
                              placeholder: "Comenta..." %>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= form.submit class: "button is-info" %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <label class="checkbox">
              <%= form.check_box  :anonymous,
                                  {class: 'checkbox'},
                                  true, false %> <%=Comment.human_attribute_name("anonymous")%>
            </label>
          </div>
        </div>
      </nav>
    </div>
  </article>
<% end %>
