<%= form_with(model: complaint, class: "box", data:{controller:'complaints'}) do |form| %>
  <% if complaint.errors.any? %>
    <article id="error_explanation" class="message is-danger">
      <div class="message-header">
        <p>
          <%= t 'global.forms.messages.errors', count: complaint.errors.count %>
        </p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <ul>
          <% complaint.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </article>
  <% end %>

  <div class="field">
    <%= form.label :title, class:"label" %>
    <div class="control">
      <%= form.text_field :title,
                          class:"input",
                          autofocus: true,
                          required: true,
                          minlength: "5",
                          placeholder: t('placeholders.name'),
                          maxlength: "50" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class:"label" %>
    <div class="control">
      <%= form.text_area  :description,
                          class: "textarea",
                          required: true,
                          placeholder: t('placeholders.describe_what_happened'),
                          minlength: "5" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :category_id, class:"label" %>
    <div class="control has-icons-left">
      <div class="select is-fullwidth">
        <%= form.collection_select  :category_id,
                                    Category.order(:name),
                                    :id,
                                    :name,
                                    prompt: t('please_select') %>
      </div>
      <span class="icon is-left">
        <i class="fas fa-tag"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= form.label :date_of_events, class:"label" %>
    <div class="control">
      <%= form.date_field  :date_of_events,
                            class: "input",
                            required: true,
                            max: Date.today %>
    </div>
  </div>

  <br>
  <h2 class="subtitle">
    <strong><%= t('location') %></strong>
  </h2>
  <hr>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <%= form.label :state_id, class:"label" %>
              <div class="control">
                <div class="select is-fullwidth">
                  <%= form.collection_select  :state_id,
                                              State.order(:name),
                                              :id,
                                              :name,
                                              {prompt: t('please_select')},
                                              {data:{'complaints-target': 'state_id', action: 'change->complaints#changeChildOptions', type:'state'}} %>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <%= form.label :municipality_id, class:"label" %>
              <div class="control">
                <div class="select is-fullwidth">
                  <%= form.collection_select  :municipality_id,
                                              [],
                                              :to_s,
                                              :to_s,
                                              {prompt: t('please_select')},
                                              {data:{'complaints-target': 'municipality_id', action: 'change->complaints#changeChildOptions', type:'municipality', value: complaint.municipality_id}} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <%= form.label :postal_id, class:"label" %>
              <div class="control">
                <div class="select is-fullwidth">
                  <%= form.collection_select  :postal_id,
                                              [],
                                              :to_s,
                                              :to_s,
                                              {prompt: t('please_select')},
                                              {data:{'complaints-target': 'postal_id', action: 'change->complaints#changeChildOptions', type:'postal', value: complaint.postal_id}} %>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <%= form.label :settlement_id, class:"label" %>
              <div class="control">
                <div class="select is-fullwidth">
                  <%= form.collection_select  :settlement_id,
                                              [],
                                              :to_s,
                                              :to_s,
                                              {prompt: t('please_select')},
                                              {data:{'complaints-target': 'settlement_id', value: complaint.settlement_id}} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <%= form.label :street, class:"label" %>
              <div class="control">
                <%= form.text_field :street,
                                    class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <%= form.label :number, class:"label" %>
              <div class="control">
                <%= form.text_field :number,
                                    class:"input" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.file_field :evidences, multiple: true %>
  </div>

  <div class="field">
    <label class="label"><%= t('anonymous_posting') %></label>
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div>

  <hr>
  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class:"button is-link" %>
    </div>
    <div class="control">
      <%= link_to t('.cancel'), complaints_path, class:"button is-light" %>
    </div>
  </div>
<% end %>
