<%= search_form_for @q do |f| %>
<nav class="panel" data-controller="complaints">
  <p class="panel-heading">
    Filters
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <%= f.search_field :title, class: "input", placeholder: "Busca por titulo" %>
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <div class="panel-block">
    <div class="field">
      <%= f.label :category_id, class:"label" %>
      <div class="control">
        <div class="select is-fullwidth">
          <%= f.collection_select :category_id_eq,
                                  Category.order(:name),
                                  :id,
                                  :name,
                                  {include_blank: "Seleciona una"} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field">
      <%= f.label :state_id, class:"label" %>
      <div class="control">
        <div class="select is-fullwidth">
          <%= f.collection_select :state_id_eq,
                                  State.order(:name),
                                  :id,
                                  :name,
                                  {include_blank: "Selecciona un estado"},
                                  {data: {'complaints-target': 'state_id', action: 'change->complaints#changeChildOptions', type:'state'}} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field control">
      <%= f.label :municipality_id, class:"label" %>
      <div class="control">
        <div class="select is-fullwidth">
          <%= f.collection_select :municipality_id_eq,
                                  [],
                                  :to_s,
                                  :to_s,
                                  {include_blank: "Selecciona un municipio"},
                                  {data: {'complaints-target': 'municipality_id', type:'municipality', value: f.object.municipality_id_eq}} %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <%= f.submit "Aplicar filtros", class: "button is-link is-fullwidth" %>
  </div>
  <div class="panel-block">
    <%= link_to t('.reset'), complaints_path, class: "button is-link is-outlined is-fullwidth" %>
  </div>
</nav>
<% end %>
