<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "logo.svg", height: "28", alt:"logotipo" %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <%= link_to t(".Complaints"), complaints_path, class: "navbar-item" %>
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <div class="media">
                <div class="media-content">
                  <%= truncate(current_user.username, length:20, class: '') %>
                </div>
              </div>
            </a>

            <div class="navbar-dropdown is-right">
              <%= link_to "Account configuration", edit_user_registration_path, class: "navbar-item" %>
              <%= link_to "My interest places", interest_places_path, class: "navbar-item" %>
              <% if current_user.user_type == 'administrator' %>
                <%= link_to adminpanel_index_path, class: "navbar-item" do %>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fas fa-users-cog"></i>
                    </span>
                    <span><%= t('.admin_users') %></span>
                  </span>
                <% end %>
              <% end %>
              <hr class="navbar-divider">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to t(".sign_in"), new_user_session_path, class: "button is-light" %>
              <%= link_to t(".sign_up"), new_user_registration_path, class: "button is-danger" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
