<p>Welcome <%= current_user.username %> <%= current_user.user_type %></p>

<div>
  <h2>Complaints in my places of interest</h2>
  <%= 'There are no complaints yet, add some other places of interest.' if @complaints.length.zero? %>
  <% @complaints.each do |complaint| %>
    <p>
      <%= complaint.category.name %> - <%= complaint.date_of_events %> </br>
      <%= complaint.state.name %> <%= complaint.municipality.name %> <%= complaint.postal.name %> <%= complaint.settlement.name %> <%= complaint.street %> <%= complaint.number %></br>
      <strong><%= complaint.title %></strong> </br>
      <%= complaint.description %> </br>
    </p>
  <% end %>
</div>