<h2><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control has-icons-left">
      <%= f.email_field :email,
                        class: "input",
                        autofocus: true,
                        autocomplete: "email",
                        placeholder: "example@email.com" %>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control has-icons-left">
      <%= f.password_field  :password,
                            class: "input",
                            autofocus: true,
                            autocomplete: "current-password" %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="field">
      <div class="control">
        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          I agree to the <a href="#">terms and conditions</a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= f.submit t('.sign_in'), class: "button is-success is-fullwidth" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
