<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Proyecto Denuncia Ciudadana Proyecto Team 03</title>
    <meta name="description" content="Lorem ipsum dolor sit, amet consectetur adipisicing elit">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= render 'partials/notification' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
