<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Proyecto Denuncia Ciudadana Proyecto Team 03</title>
    <meta name="description" content="Lorem ipsum dolor sit, amet consectetur adipisicing elit">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.user_type == 'administrator' %>
      <%= link_to "Users", adminpanel_index_path %> </br> </br>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </br>
      <%= link_to "Account configuration", edit_user_registration_path %> </br> </br>
      <!--Options-->
      <%= link_to "Home", root_path %> </br>
      <%= link_to "My interest places", interest_places_path %> </br>
    <% end %>

    <%= yield %>
  </body>
</html>
